.bothead{
    height: 15%;
    width: 100%;
    background-color: #326044;
    position: absolute;
    display: flex;
    bottom: 0px;
}
.array-container{
    width: 100%;
    height: 85%;
    position: absolute;
    top: 0px;
    display: flex;
}

.bothead .btn{
    position: relative;
    margin-left: 2%;
    width: 13%;
    margin-top: 1%;
    height: 70%;
    font-size: 20px;
    background-color: #326044;
    outline: none;
    border: 1px solid white;
    color: #fff;
}
.bothead .btn:hover{
    background-color: #fff;
    color: #326044;
    transition: .2s;
}
.sortbtns{
    width: 75%;
    height: 100%;
    margin-left: 5%;
}
.sortbtns .sorthead{
    width: 100%;
    font-size: 25px;
    text-align: center;
    line-height: 30px;
    font-family: Roboto, sans-serif;
    color:  #326044;
    background-color: #fff;
    border-top: 1px solid  #326044;
    height: 30px;
}
.sortbtns .btn{
    width: 10%;
    height: 50%;
}